.nav-cabecalho{
    text-align: center;
    color: white;
    font-size: 15px;
    /* background-image: url('img/header.jpg'); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin-left: 2px;
}

.btn-group{    
        margin-top:80px;
        display: flex;
        margin-left: 2px;
        margin-bottom: 2px;
        align-self: start;      
         
}

p{
    text-align: left;
    color: gray;
}

h6{
    text-align: left;
}

.main {
    flex: 1;
    padding: 20px 0px 0px 20px;
}


.data-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.card-item {
    flex: 0 1 20%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.image-container {
    width: 100%;
    overflow: hidden;
}


.stay-image {
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.apartment-type {
    color: red;
    margin: 8px 0px 8px 0px;
}

.apartment-description {
    margin: 0;
}